
body { color: white;
  background-color:black;
margin: 80px;
font-family: 'Merriweather Sans', sans-serif;
}
h1{ font-size: 3.625rem;
margin: 100px auto 0 auto;
font-family: 'Sacramento', cursive;
color: yellow;
}
h2{font-weight: normal;
font-size: 3.5rem;
font-family: 'Montserrat', sans-serif;
color: #66BFBF;
}
h3{font-family: 'Sacramento', cursive;
font-size: 2.5rem;
color: yellow;
}
table {text-align: center; }
.sides {font-family: 'Sacramento', cursive;
font-size: 2.5rem;
}
.top-container{
background-color: #EAF6F6;
position: relative;
padding-top: 100px;
}
.middle-container{margin: 30px;

}
.bottom-container{background-color: #66BFBF;
height: 100px;
padding-top: 30px;
}
.senami{ height: 200px;
width: 200px;
border-radius: 100px;}
.dev{
width: 25% ;
border-radius: 50%;
float: left;
margin-right: 30px;}
.accounting{
width: 25%;
border-radius: 50%;
float: right;
margin-left: 30px;}
.profile{padding-bottom: 50px;
}
.skill-row{width: 50%;
margin: 100px auto 100px auto;
text-align: left;
}
p{line-height: 2;}

.top-cloud { position: absolute;
right: 300px;
top: 50px;
}
.bottom-cloud{position: absolute;
left: 100px;
bottom: 400px;
}
.mountain{ border-radius: 100px;

}
.sen{text-decoration: underline;
}
.myButton { margin: 50px;
box-shadow: 0 10px 14px -7px #276873;
background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
background-color:#599bb3;
border-radius:8px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family: 'Montserrat', sans-serif;
font-size:20px;
padding:13px 32px;
text-decoration:none;
text-shadow:0 1px 0 #3d768a;
}

.myButton:hover {
background-image:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
background-color:#408c99;
}

a{color:#11999E;
margin: 30px;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
}
a:hover { color: #EAF6F6;
}
.copyright{ color: #EAF6F6;
font-size: 0.75rem;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: red;
  border-width: 6px;
  width: 4%;}

  .contact{ width: 30%;
  margin: auto;}

  img {border-radius: 300px;

  }
